/* 
CSS for Teh blog app - http://teh.appspot.com
Derived from - http://bret.appspot.com
License: CC2.5 - http://creativecommons.org/licenses/by/2.5/
*/

body {
  background-color: white;
  margin: 0;
}

body, input, textarea {
  color: #222222;
  font-family: Georgia, Serif;
  font-size: 12pt;
}

img {
  border: 0;
}

div {
  position: relative;
}

form {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
  font-family: Arial, sans-serif;
}

a, a:visited {
  color: #274da2;
}

form {
  margin: 0;
  padding: 0;
}

#header {
  background-image: url("/static/images/top-bar.png");
  background-repeat: repeat-x;
  height: 56px;
  position: relative;
  
}

#logo {
  position: absolute;
  left: 30px;
  top: 15px;
}

#feed {
  position: absolute;
  top: 12px;
  right: 12px;
}

#feed img {
  width: 32px;
  height: 32px;
}

#search {
  position: absolute;
  top: 16px;
  right: 60px;
}

#search input {
  font-family: Arial, sans-serif;
  font-size: 10pt;
}

#body {
  margin: 30px;
  max-width: 800px;
  width: expression(document.body.clientWidth > 800 ? "800px" : "auto");
}

#footer {
  margin: 30px;
  margin-top: 5em;
}

.full .entry {
  margin-bottom: 3em;
}

.full .entry h1 {
  font-size: 20pt;
}

.full .entry h1 a,
.full .entry h1 a:visited {
  text-decoration: none;
  color: #222222;
}

.full .entry .date {
  margin-top: 0.25em;
}

.full .entry .body {
  margin-top: 1em;
  line-height: 1.3em;
}

.full .entry .body p {
  margin: 0;
  margin-bottom: 1em;
}

.full .entry .body h2 {
  font-size: 14pt;
  margin-bottom: 0.25em;
}

.full .entry .footer .share {
  color: #25833e;
  padding-left: 21px;
  background: url("/static/images/share.png");
  text-decoration: underline;
  cursor: pointer;
}

#archive {
  margin-top: 3em;
}

.summary .entry {
  margin-bottom: 1em;
}

.summary .entry h1 {
  font-size: 16pt;
  font-weight: normal;
}

pre, code {
  color: #007000;
  font-family: "bogus font here", monospace;
  font-size: 100%;
}

pre {
  border: 1px solid silver;
  background-color: #f5f5f5;
  padding: 0.5em;
  overflow: auto;
  margin: 2em;
}

ul {
  margin: 0;
  margin-bottom: 1em;
}

ul li {
  margin-bottom: 0.3em;
}