{% extends "base.html" %}
{% block content %}
<div class="entry">
<h3><a href="{{entry.url}}">{{entry.title}}</a></h3>
{% block date %}{% endblock %}
<div class="body">
	{{entry.body_html}}
<div class="tags">
	{% for tag in entry.tags %}
		<a href="/topic/{{tag}}">{{tag}}</a>, 
	{% endfor %}
</div><!-- tags -->
</div><!-- body -->
<div id="controls">
	{% if admin %}
	<a href="{{entry.url}}/edit">edit</a> | <a href="{{entry.url}}/del">delete</a>
	{% endif %}
</div><!-- controls -->
</div><!-- entry -->
{% endblock %}